body {
  margin: 0;
}

.sub-header {
  position: relative;
  width: 100%;
  z-index: 10;
  background: #08275e;
  color: #fff;
}

.header-area {
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
